.feature {
    width: 100%;
    background: #f1f5f9;

}

.text {
    width: 45%;
    margin-top: 5%;
}

.heading {
    font-size: 40px;
    width: 100%;
    color: black;
    line-height: 40px;
    margin-bottom: 15px;
    font-weight: bold;
}

.text_text {
    color: black;
    font-size: 14px;
    margin-bottom: 15px;
    width: 500px;
}

.text a,
.text i {
    color: #6F55FF;
}

.imgDiv {
    width: 35%;
    margin: auto;
}

.img {
    width: 100%;
}

.underDiv {
    padding-top: 8%;
    padding-bottom: 5%;
    width: 80%;
    margin: auto;
    margin-top: 65px;

}

.background_white {
    width: 100%;
    background-color: white;
}

.background_white1 {
    width: 100%;
    background-color: white;
    height: 25px;
}

.getstarted_container {
    width: 80%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-radius: 25px;
    background: linear-gradient(45deg, #8E2DE2, #4A00E0);
    text-align: center;
    margin: auto;
    color: white;
}

.getstarted_heading {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}

.getstarted_text {
    font-size: 20px;
}

.getstarted_container button {
    margin-top: 15px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #6F55FF;
    border-radius: 25px;
}

.getstarted_container button:hover {
    background-color: #5238e4;

}

.card {
    height: min-content;
    width: 350px;
    border-radius: 10px;
    margin-left: 25px;
    border: 2px solid #d4d9ddbd;
    margin-top: 25px;
}

.price {
    font-size: 25px;
    margin: auto;
    font-weight: bold;
    margin-top: 3%;
    width: fit-content;
}

.underDiv1 {
    padding-top: 6%;
    padding-bottom: 6%;
    width: fit-content;
    margin: auto;
}

.card ul li {
    margin-bottom: 5%;
}

.card ul {
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 25px;
    color:black
}
.text_grey{
    color:grey;
}

.card .button button {
    padding: 10px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25px;
}

.button {
    margin-top: 5%;
    padding: 5%;
}

.heading_section{
    padding-top: 7%;
    padding-left: 14%;
    color:black;
    padding-right: 14%;
    padding-bottom: 2px;
    border-radius: 5px 10px 0px 0px;
}

.flex_cards{
    display: flex;
}

.bgColor {
    color:white;
    background: linear-gradient(45deg, #8E2DE2, #4A00E0);
}

.fontSize_big {
    font-size: 45px;
}

.time_size {
    font-size: 25px;
    margin-top: 15px;
    font-weight: lighter;
}


.proId button {
    border: 2px solid #7448ce88 !important;
    background: linear-gradient(45deg, #8E2DE2, #4A00E0) !important;

}

.proId button:hover {
    border: 2px solid #6531ccdc !important;
    background: linear-gradient(45deg, #721abb, #4100c2fa)!important;

}

.Id button {
    border: 2px solid black;
    color: black;
}

.check {
    color: green;
}

.smallFont {
    font-size: 16px;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.712);
    background-color: rgb(143, 219, 143);
}




@media screen and (max-width: 770px){
    .flex_cards{
    display: block;
    }
    .card{
        margin: auto;
    }
    .imgDiv{
        width: 100%;
    }
    .text{
        width: fit-content;
        margin: auto;
    }
} 
/* 
@media screen and (min-width: 770px){
    .flex_cards{
        display: flex;
        }
        .card{
            margin: none;
        }
    }  */