.footer {
    width: 90%;
    margin: auto;
    padding: 4%;
}

.section {
    width: 35%;
    margin-left: 6%;
    color: gre;
}

.heading {
    font-size: 20px;
    margin-bottom: 10px;
    ;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.822);
}

.back_color {
    padding-bottom: 0px;
    background-color: #f1f5f9;
}
.text_grey{
    color:rgb(0 0 0 / 68%);
}
.logo {
    margin-top: -6px;
}

.icon_div {
    margin-top: 25px;
}

.icon_div button {
    padding: 10px 13px;
    border-radius: 50%;
}

.icon_div button:hover {
    background-color: #e0e1e2;
}

.section ul li {
    margin-top: 5px;
}

.section ul li:hover {
    text-decoration: underline;
}

.bottomsubly {
    color: rgb(0 0 0 / 67%);
    background-color: #dcdce4;
    padding: 20px;
    font-size: 14px;
    text-align: center;

}

@media screen and (max-width: 770px){
    .section{
       display: flexbox;
    }
}
