@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');


.container{
  max-width: 1680px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(to bottom,
        rgba(var(--background-start-rgb), 1),
        rgba(var(--callout-rgb), 0.5));
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(to bottom,
        transparent 0%,
        rgb(var(--background-end-rgb)) 40%);
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.transparent {
  display: flex !important;
  margin: auto;
  margin-top: 130px;
  width: 68%;
}

.left {
  margin-left: 92%;
  height: 40px;
  margin-top: -30px;
}

.HeadingSize {
  font-size: 60px;
  font-family: 'Arial', sans-serif;
  color: black;
  font-weight: bold;
  margin-top: 15px;
}

.marginleft {
  margin-top: 20px;
  width: 65px;
  height: 65px;
}

.fontSize {
  width: fit-content;
  text-align: center;
  color:grey;
  font-size: 20px;
  margin: auto;
  margin-top: -20px;
}

.imgWidth {
  width: 70px;
  height: 70px;
  margin-top: 40px;
}

.getStartButton {
  background: #6F55FF;
  padding: 8px;
  margin-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 25px;
  color: white;
  font-size: 20px;
  margin-right: 25px;
}

.getStartButton:hover {
  background: #523adb;

}

.learnMoreButton {
  padding: 10px;
  margin-top: 25px;
  color: black;
  border-radius: 25px;
  background-color: rgba(128, 128, 128, 0.048);
  font-size: 20px;
  margin-right: 25px;
}

.learnMoreButton:hover {
  background-color: rgba(128, 128, 128, 0.158);

}

.wrapper {
  position: relative;
  width: 100px;
}

.contain {
  width: 100px;
  height: 100px;
  margin-left: -140px;
  margin-top: -50px;
  animation: rotateCont 20s linear;
}

@keyframes rotateCont {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.box {
  width: 8px;
  height: 8px;
}

.top {
  position: absolute;
  background: rgba(128, 128, 128, 0.466);
  border-radius: 4px;
}




.contain2 {
  margin-left: 200%;
  margin-top: 80px;
  width: 100px;
  height: 100px;
  animation: rotateCont 20s linear;
}

.box2 {
  width: 10px;
  height: 10px;
}

.top2 {
  position: absolute;
  background-color: #8fe9e1;
  border-radius: 5px;
}


.contain3 {
  margin-left: -85%;
  width: 100px;
  height: 100px;
  animation: rotateCont3 20s linear;
}

@keyframes rotateCont3 {
  0% {
    transform: rotate(380deg);
  }

  100% {
    transform: rotate(720deg);
  }
}

.box3 {
  width: 11px;
  height: 11px;
}

.top3 {
  position: absolute;
  border-radius: 6px;
  background: rgba(167, 109, 22, 0.616);
}

.contain4 {
  margin-top: -50px;
  width: 100px;
  height: 100px;
  rotate: 60deg;
  animation: rotateCont4 20s linear;
}

@keyframes rotateCont4 {
  0% {
    transform: rotate(60deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.box4 {
  width: 6px;
  height: 6px;
}

.top4 {
  position: absolute;
  border-radius: 3px;
  background: #8fe9e1;
}


.contain5 {
  margin-top: -70%;
  width: 100px;
  margin-left: -195%;
  height: 100px;
  rotate: 60deg;
  animation: rotateCont5 20s linear;
}

@keyframes rotateCont5 {
  0% {
    transform: rotate(60deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.box5 {
  width: 9px;
  height: 9px;
}

.top5 {
  position: absolute;
  border-radius: 6px;
  background: #fac3ff;
}

.headingSection {
  margin-top: -32px;
  width: 95%;
  margin: auto;
  padding: 3rem !important;
}


.icon {
  width: 50%;
  margin: auto;
  margin-top: -60px;
}

.primeVideoIcon {
  margin-left: 90%;
}

.reportImg {
  width: 60%;
  margin: auto;
  margin-top: -7%;
}

.margin_left {
  margin-left: 12%;
  margin-top: 5%;
}

.size {
  width: 6px;
  height: 6px;
  background: #fac3ffde;
}

/* Feature */

