.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
 .nav ul li{
    float: left;
    display: block;
    text-align: center;
    padding: 18px 24px;
    padding-bottom: 7px;
    color: #4a5568;
    font-size:15px;
    text-decoration: none;
  }

.nav li img{
  height: 40px;
  margin-top: -5px;
}
.nav ul{
  padding: 5px;
  margin-left: 175px;;
}
.grey{
  color: #4a5568;
  font-size:16px;
}
.grey:hover{
  color:#6f55ff
}
.logo{
  font-size:20px;
  color:black;
  display: flex;
  padding-top:-15px;
  font-weight: bold;
}
.nav .logo_list{
  padding-top: 14px;
}
.nav ul .login,.nav ul .sign{
  float: right;
}
.nav ul .sign button{
  padding:10px;
  border-radius: 5px;
  border:none;
  background-color: black;
  color: #ffffff;
  font-size: 17px;
  font-weight:bold;
}
.nav ul .sign{
  padding-left:0px;
  margin-right: 180px;
  padding-top: 6px;
}
.nav{
  border-bottom:1px solid rgb(250, 237, 237);
}
